@use "../../../styles/variables" as *;

// Layout Container
.layout-container {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}